{% extends 'base.html' %}

{% block title %}Visit list{% endblock %}

{% block content %}
    <h2>Visit list</h2>
        <table class="table table-success table-striped-columns">
        <thead>
            <tr>
                <th>Date</th>
                <th>Patient</th>
                <th>Doctor</th>
                <th>Branch Office</th>
                <th>Price</th>
                <th>Service</th>
                <th>Visit duration</th>
            </tr>
        </thead>
        <tbody>
            {% for visit in visits %}
            <tr>
                <td><a href="{% url 'dentist:visit_detail' visit.pk %}">{{ visit.date }}</a></td>
                <td>{{ visit.patient.name }} {{ visit.patient.surname }}</td>
                <td>{{ visit.doctor.user.first_name }} {{ visit.doctor.user.last_name }}</td>
                <td>{{ visit.branch_office }}</td>
                <td>{{ visit.price }} zł</td>
                <td>{{ visit.service }}</td>
                <td>{{ visit.visit_duration }}</td>

                    <td>
                        <a href="{% url 'dentist:visit_update' visit.pk %}"
                        type="button" class="btn btn-outline-warning btn-sm">Edit</a>
                        <a href="{% url 'dentist:visit_delete' visit.pk %}"
                        type="button" class="btn btn-outline-danger btn-sm">Delete</a>
                    </td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="7">There are no visits to display</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}